.hero {
  animation: bg-color 20s infinite;
  -webkit-animation: bg-color 20s infinite;
}

@keyframes bg-color {
  0% { background-color: rgb(0, 105, 156); }
  11% { background-color: rgb(12, 148, 179); }
  37% { background-color: rgb(0, 178, 156); }
  63% { background-color: rgb(0, 102, 126); }
  89% { background-color: rgb(0, 124, 186); }
  100% { background-color:  rgb(0, 105, 156); }
}

.content a:hover {
  color: rgb(254, 129, 253) !important;
}

.content ul {
  margin-top: 8px;
}

.content .hr {
  margin-bottom: 0;
}

.hero a:hover {
  color: rgb(0, 102, 126) !important;
}