img {
  height: 64px;
  width: 64px;
}

#main-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-150px 0 0 -150px;
  height: 300px;
  width: 300px;
  background-color: rgb(246, 246, 246);
  border-radius: 14px;
}

#name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-left: 8px;
}

li {
  margin-left: 0px;
  list-style-type: none;
  padding: 4px 10px;
}


